!!!5
html(lang="en")
  head
    
    meta(charset="utf-8")
    
    title validate

    link(rel="stylesheet", href="../../node_modules/mocha/mocha.css")
    link(rel="stylesheet", href="../../build/build.css")

  body

    #mocha

    script(src="../../build/build.js")
    
    :coffeescript

      require "kelonye-ember"
      window.ValidateMixin = require "ember-validate"
      window.assert = require "timoxley-assert"
      ###
      window.App = Em.Application.create()
      App.ApplicationController = Em.Controller.extend()
      App.ApplicationView = Em.View.extend()

      App.Router = Em.Router.extend
        root: Em.Route.extend
          index: Em.Route.extend
            route: '/'

      App.initialize()
      ###

    script(src="../../node_modules/mocha/mocha.js")

    :coffeescript
      mocha.setup 'bdd'

    script(src="../compr.js")
    script(src="../length.js")
    script(src="../email.js")
    script(src="../presence.js")
    script(src="../re.js")
    script(src="../multiple.js")
    script(src="../input.js")

    :coffeescript

      if window.mochaPhantomJS
        mochaPhantomJS.run()
      else
        mocha.run()
