!!!5
html(lang="en")
  head
    
    meta(charset="utf-8")
    
    title test

    link(rel="stylesheet", href="../../node_modules/mocha/mocha.css")
    link(rel="stylesheet", href="../../build/build.css")

  body

    #mocha

    script(src="../../build/build.js")
    
    :coffeescript

      require "kelonye-ember"
      window.ValidateMixin = require "ember-validate"
      window.assert = require "timoxley-assert"

    script(src="../../node_modules/mocha/mocha.js")

    :coffeescript
      mocha.setup 'bdd'

    script(src="../lib/compr.js")
    script(src="../lib/length.js")
    script(src="../lib/email.js")
    script(src="../lib/presence.js")
    script(src="../lib/re.js")
    script(src="../lib/multiple.js")

    :coffeescript

      if window.mochaPhantomJS
        mochaPhantomJS.run()
      else
        mocha.run()
